* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--bg-color); */
}

body {
    background-color: var(--bg-color);
    height: 10000px;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}