.girll {
    height: 1000px;
}

.girl {
    height: 1000px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.girl-img {
    width: 1300px;
    background-image: url(../img/img-girl/girl.png);
    background-size: cover;
    background-position: 30% 70%;
}

.girl-item img {
    display: flex;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.girl-item {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    width: 700px;
}

.girls-title h2 {
    margin-left: 60px;
    font-size: 40px;
    margin-top: 260px;
}

.girls-title p {
    margin-left: 60px;
    font-size: 20px;
    margin-top: 20px;
}


/* .girl-items {
    display: flex;
    margin-top: 120px;
    margin-left: 20px;
} */