.support {
    margin-top: 30px;
    display: block;
    height: 150px;
}

.support-item {
    display: flex;
    justify-content: space-between;
}

.support-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support-items img {
    width: 50px;
    height: 50px;
    padding: 4px;
}

.sprt-text h2 {
    font-size: 25px;
    padding: 4px;
}

.sprt-text h3 {
    font-size: 15px;
    padding: 4px;
}